*{
	margin: 0;
	padding: 0;
}
body{
	display: flex;
	flex-direction: column;
	background: #CFD0CF;
	align-items: center;
}
header{
	color: #434344;
	line-height: 47px;
	font-family: Arial;
	font: bold 42px sans-serif;
	margin:  40px 0;
}
section{
	display: grid;
	grid-gap: 25px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr); 
	perspective:600px; 
}

.card{
	box-sizing: border-box;
	height: 130px;
	width: 130px;
	border: 5px solid white;
	border-radius: 9px;
	box-shadow: 1px 1px 5px rgba(0,0,0, 0.5);
	cursor: pointer;
	background-image: linear-gradient(45deg, #22AB93, #19668D);	
	transition: transform 1s;
	transform-style: preserve-3d;
}
.front-rotate {
  transform: rotateY(180deg);
}

.card-face{
    backface-visibility: hidden;
}
.card-face.back{

	background:white;
	height: 100%;	
	font-size: 75px;
	text-align: center;

	transform: rotateY(180deg);
}
.right_click{
	background-color : #5AD66F !important;
}
.wrong_click{
	background-color: #F44336 !important;
	pointer-events: none;
}
.non_clicked{
	pointer-events: none;
}
.timer{
	color: #434344;
	font-family: Arial;
	line-height: 36px;
	font: bold 32px sans-serif;
	margin:  30px 0 0;
}
#modal-window{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	background: rgba(0,0,0, 0.5);
	justify-content: center; 
	align-items: center;
	/*display: flex;*/
	display: none;
}
.window{
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 350px;
	background: white;
}
#window-text{
	color: #434344;
	font-family: Arial;
	font: bold 48px sans-serif;
	margin:  30px 0 40px;	
}
.waveanim{
	animation-delay: 5s;
	animation: wave 1s infinite alternate;
}
@keyframes wave {
  0% {
    font-size: 48px;
  }
  100% {
    font-size: 40px;
  }
}
#window-button{
	height: 40px;

	border: none;
	border-radius: 9px;
	box-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
	cursor: pointer;
	background-image: linear-gradient(-90deg, #22AB93, #19668D);

	color: white;
	font-family: Arial;
	font: bold 20px sans-serif;
	margin: 0 0 30px;
	padding: 0 30px;
}
#window-button:active{
	outline: none;
	box-shadow: inset 2px 1px 8px rgba(0,0,0, 0.5) !important;
}

